body {
    /*background-color: #FDFFFC;*/
    background-color: #ffc508;
}

/*****************HEADER***************/
.page-header {
    border-bottom: none;
}
.lead {
    text-align: center;
    margin-bottom:-5px;
    /*font-weight: 30;*/
    font-size: 80px;
    /*color: #222;*/
    /*-webkit-text-stroke: 0px rgb(255, 53, 86);*/
    /*color: black;*/
    /*text-shadow: -6px 5px 3px rgb(255, 53, 86);*/
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 7px;
    padding: 5px;
    box-shadow: 0 0 32px rgb(255, 53, 86);
    border: 3px solid rgb(255, 53, 86);
}

/***************NAV BAR****************/

.nav a {
    color: black;
    font-weight: 300;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    background-color: black;
    border: 1px solid rgb(255, 53, 86);
    box-shadow: 0 0 32px rgb(255, 53, 86);
}

/***************HOME PAGE*****************/
#about, #contact {
    margin-top: 10px;
    /*background-color: #cacbcc;*/
}

#home img{
    position: relative;
    margin-left: auto;
    margin-right:auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 7px;
    padding: 5px;
    box-shadow: 0 0 32px rgb(255, 53, 86);
    border: 3px solid rgb(255, 53, 86);
}

#icons {
    margin: auto;
    /* margin-left: 50px; */
    width: 100%;
    /* display: inline-block; */
    text-align: center;
}

#icons img {
    position: relative;
    display: inline-block;
    padding: 5px;
    border: solid 3px #fafafa;
    border-radius: 7px;
    /*margin: 8px;*/
    margin: auto;
    /*margin-right: auto;*/
    /*margin-left: auto;*/

    box-shadow: 0 0 32px rgb(255, 53, 86);
    border: 3px solid rgb(255, 53, 86);
}

#icons img:hover{
    -webkit-filter: invert(100%);
    box-shadow: 0 0 32px rgb(255, 53, 86);
    border: 3px solid rgb(255, 53, 86);
}

#icons span{
    /*color: rgb(255, 53, 86);*/
    font-size: 50px;
    -webkit-text-stroke: 5px black;
}

    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*width: 30em;*/
    /*animation: title 5s steps(60, end);*/


/*@keyframes title {*/
    /*from {width: 0px;}*/
/*}*/

/******************LIBRARY***************/

.library {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 7px;
    background-color: black;
    overflow: scroll;

}

.add-speech {
    height: 100px;
    width: 100px;
    background-image: url("/assets/styles/images/selectSpeechC.png");
    background-size: 100px 100px;
    background-padding: 2px;
    position: relative;
    float: right;
    margin: 5px;
    border-radius: 2px;
    box-shadow: 0 0 32px rgb(255, 53, 86);
    border: 3px solid rgb(255, 53, 86);
}

.add-speech:hover {
    -webkit-filter: invert(100%);
    box-shadow: 0 0 32px rgb(255, 53, 86);
    border: 3px solid rgb(255, 53, 86);
}

.arrows {
    display: inline;
    position: relative;

}
.library-head h2{
    font-style: italic;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 20px;
}

.input-group {
    padding: 1px;
    box-shadow: 0 0 32px rgb(255, 53, 86);
    border: 3px solid rgb(255, 53, 86);
    border-radius: 7px;
    margin: 10px;
    margin-bottom: 20px;
}

.panel {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel-body li {
    overflow: scroll;
}
.heading h3:hover {
    color: rgb(255, 53, 86);
    cursor: pointer;
}

.heading h3 {
    float: left;
    margin-top: 45px;
    margin-left: 25px;

}

.heading button {
    box-shadow: 0 0 32px rgb(255, 53, 86);
    border: 3px solid rgb(255, 53, 86);
    background-color: black;
    color: white;
    border: 1px solid;
    float: right;
    padding: 10px;
    margin: 10px;
}

.panel-body {
    clear: both;
    text-align: justify;
    font-size: 20px;
}

/****************Slideshow************/
/*#slideshow {*/
    /*display: inline;*/
/*}*/
#slideshow h1{
    font-style: italic;
    color: black;
    font-weight: bold;
}
#backdrop {
    height: 1000px;
    width:100%;
    background-color: #ffc508;
    color: white;
    text-align: center;
    margin-bottom: 5px;

}

/*.slide.ng-hide-add,*/
/*.slide.ng-hide-remove {*/
    /*-webkit-transition: all linear 0.5s;*/
    /*-moz-transition: all linear 0.5s;*/
    /*-o-transition: all linear 0.5s;*/
    /*transition: all linear 0.5s;*/
    /*display: block!important;*/
/*}*/
/*.slide.ng-hide-add.ng-hide-add-active,*/
/*.slide.ng-hide-remove {*/
    /*opacity: 0;*/
/*}*/
/*.slide.ng-hide-add,*/
/*.slide.ng-hide-remove.ng-hide-remove-active {*/
    /*opacity: 1;*/
/*}*/

.center-grey {
    background: #f2f2f2;
}
.slider {
    width: 80%;
    height: 80%;
    position: relative;
    padding: 5px;
    margin: auto;
    margin-top: 25px;
}
.slide {
    margin: auto;
    width: 100%;
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    box-shadow: 0 0 32px rgb(255, 53, 86);
    border-radius: 7px;
    border: 5px solid rgb(255, 53, 86);
    background-color: black;
}


.featured {
    width: 600px;
    height: 500px;
    margin: auto;
    padding: 15px;
    border-radius: 5px;
}
/*.arrows {*/
    /*position: absolute;*/
    /*/!*width: auto;*!/*/
    /*/!*top: 10px;*!/*/
    /*/!*right: 20px;*!/*/
/*}*/

#prev {
    width: 50px;
    height: 50px;
    cursor: pointer;
    float: left;
    color: rgb(255, 53, 86);
    font-size: 40px;
    font-weight: bold;
    margin-left: 155px;
}

#next {
    width: 50px;
    height: 50px;
    cursor: pointer;
    float: right;
    color: rgb(255, 53, 86);
    font-size: 40px;
    font-weight: bold;
    margin-right: 155px;
}

.pick-backdrop {
    clear: both;
    height: 125px;
    width: 125px;
    background-image: url("/assets/styles/images/pickBackdropC.png");
    background-size: 125px;
    /* padding-left: 0px; */
    position: relative;
    margin: auto;
    border-radius: 2px;
    box-shadow: 0 0 32px rgb(255, 53, 86);
    border: 3px solid rgb(255, 53, 86);
    margin-bottom: 25px;
}

.pick-backdrop:hover {
    -webkit-filter: invert(100%);
    box-shadow: 0 0 32px rgb(255, 53, 86);
    border: 3px solid rgb(255, 53, 86);
}

/*.arrows img {*/
    /*display: inline-block;*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*cursor: pointer;*/
/*}*/

#speechLibrary h3:hover{
    color: #00d6b2;
    cursor: pointer;
}

/*#rightArrow {*/
    /*position: relative;*/
/*}*/


/*------KARAOKE PAGE---------*/
/*#karaoke h2 {*/
    /*color: white;*/
    /*position: absolute;*/
    /*top: 200px;*/
    /*left: 0;*/
    /*/!*width: 80%;*!/*/
/*}*/

/*#karaoke img {*/
    /*position: relative;*/
    /*width: 100%; /!* for IE 6 *!/*/
/*}*/

#deliver{
    background-color: black;
    color:white;
    height: 800px;
    box-shadow: 0 0 32px rgb(255, 53, 86);
    border: 3px solid rgb(255, 53, 86);
    /*margin-top: 80px;*/
}

/*#karaoke h3 {*/
    /*margin-top: 80px;*/
/*}*/

#deliver h1 {
    text-shadow: 2px 2px 8px #FF0000;
    margin: 50px;
    margin-top: 100px;
}


/*#deliver h2 {*/
    /*position: absolute;*/
    /*top: 20px;*/
    /*margin: auto;*/
    /*text-align: center;*/
    /*width: 100%;*/
    /*padding-left: 150px;*/
    /*padding-right: 150px;*/
    /*height: 60%;*/
    /*overflow: scroll;*/
    /*line-height: 3;*/
    /*text-shadow: 2px 2px 8px #FF0000;*/
/*}*/

#deliver img {
    margin-top: 20px;
    position: relative;
    height: 550px;
    width: 100%; /* for IE 6 */
}

.give-speech {
    height: 280px;
    width: 280px;
    background-image: url("/assets/styles/images/giveSpeechC.png");
    padding: 5px;
    border: solid 3px #fafafa;
    border-radius: 7px;
    margin: 10px;
    box-shadow: 0 0 32px rgb(255, 53, 86);
    border: 3px solid rgb(255, 53, 86);
}

/*.give-speech img {*/
    /*height: 250px;*/
    /*width: 250px;*/
/*}*/

.give-speech:hover{
    -webkit-filter: invert(100%);
    box-shadow: 0 0 32px rgb(255, 53, 86);
    border: 3px solid rgb(255, 53, 86);
}

/*.nav-buttons {*/
    /*position: relative;*/
    /*margin-top: 15px;*/
/*}*/

.nav-buttons .fb-like {
    position: relative;
    margin-top: 15px;
    width: 80%;
    height: 5%;
}

.deliver li a{
    margin-top: 15px;
    color: white;
    background-color: black;
    font-weight: 300;
    text-decoration: none;
    list-style-type: none;
    /*border: 1px solid rgb(255, 53, 86);*/
    /*box-shadow: 0 0 32px rgb(255, 53, 86);*/
    /*margin: 3px;*/

}

.deliver li>a:focus, li>a:hover {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    background-color: black;
    border-radius: 5px;
    border: 1px solid rgb(255, 53, 86);
    box-shadow: 0 0 32px rgb(255, 53, 86);
}

/**********************CONTACT FORM**************************/

#contact {
    /*border: 3px solid black;*/
}
#contact h1{
    text-align: center;
    font-style: italic;
    margin-bottom: 15px;
}

.form-group label {
    font-size: 18px;
}





/* The starting CSS styles for the enter animation */
/*.fade.ng-enter {*/
    /*transition:2s linear all;*/
    /*opacity:0;*/
/*}*/

/* The finishing CSS styles for the enter animation */
/*.fade.ng-enter.ng-enter-active {*/
    /*opacity:1;*/
/*}*/

/*#karaoke h2{*/
    /*color: white;*/
    /*font-size: 24px;*/
    /*position: absolute;*/
    /*top: 200px;*/
    /*left: 0;*/
    /*margin: 10px 0 0 10px;*/
    /*white-space: pre-wrap;*/
    /*overflow: hidden;*/
    /*width: 80%;*/
    /*/!*animation-name: karaoke;*!/*/
    /*/!*animation-duration: 60s;*!/*/
    /*/!*animation: type 15s steps(60, end) ;*!/*/
/*}*/


/*@keyframes karaoke {*/
    /*0% {*/
        /*/!*width: 0px*!/*/
    /*}*/
    /*50% {*/
        /*color: red*/
    /*}*/
    /*100% {*/
        /*color: purple*/
    /*}*/
/*}*/


/*}*/
/*#karaoke h2:nth-child(2){*/
    /*animation: type2 8s steps(60, end);*/
/*}*/
/*@keyframes type{*/
             /*from { width: 0;}*/
         /*}*/

/*/!*@keyframes type2{*!/*/
             /*/!*0%{width: 0;}*!/*/
             /*/!*50%{width: 0;}*!/*/
             /*/!*100%{ width: 100; color: red;}*!/*/
         /*/!*}*!/*/

/*@keyframes blink{*/
             /*to{opacity: .0;}*/
         /*}*/
/*::selection{*/
    /*background: black;*/
/*}*/
/*/////////////////SCROLLING TEXT ANIMATIONS*/

.scroll-up {
    position: relative;
    height: 700px;
    overflow: auto;
    color: white;
}
.scroll-up h1 {
    position: absolute;
    top: 0px;
    margin: auto;
    margin-top: -227px;
    margin-bottom: 0px;
    text-align: center;
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
    height: 50%;
    overflow: visible;
    line-height: 2;
    text-shadow: 2px 2px 8px #FF0000;
    /*margin: auto;*/
    /*position: absolute;*/
    /*width: 80%;*/
    /*height: 50%;*/
    /*margin: 0;*/
    /*line-height: 50px;*/
    /*text-align: center;*/
    /*text-size: 20px;*/
     /*Starting position*/
    -moz-transform:translateY(100%);
    -webkit-transform:translateY(100%);
    transform:translateY(100%);
    /* Apply animation to this element */
    -moz-animation: scroll-up 50s linear  ;
    -webkit-animation: scroll-up 50s linear  ;
    animation: scroll-up 50s linear  ;
}
/*.scroll-up {*/
    /*position: relative;*/
    /*height: 700px;*/
    /*color: white;*/
/*}*/
/*.scroll-up h2 {*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*margin: 0;*/
    /*text-align: center;*/
    /*width: 100%;*/
    /*padding-left: 150px;*/
    /*padding-right: 150px;*/
    /*height: 50%;*/
    /*overflow: visible;*/
    /*overflow-wrap: break-word;*/
    /*line-height: 3;*/
    /*text-shadow: 2px 2px 8px #FF0000;*/
    /*/!*margin: auto;*!/*/
    /*/!*position: absolute;*!/*/
    /*/!*width: 80%;*!/*/
    /*/!*height: 50%;*!/*/
    /*/!*margin: 0;*!/*/
    /*/!*line-height: 50px;*!/*/
    /*/!*text-align: center;*!/*/
    /*/!*text-size: 20px;*!/*/
    /*/!*Starting position*!/*/
    /*-moz-transform:translateY(100%);*/
    /*-webkit-transform:translateY(100%);*/
    /*transform:translateY(100%);*/
    /*/!* Apply animation to this element *!/*/
    /*-moz-animation: scroll-up 10s linear  ;*/
    /*-webkit-animation: scroll-up 10s linear ;*/
    /*animation: scroll-up 10s linear  ;*/
/*}*/
/* Move it (define the animation) */
@-moz-keyframes scroll-up {
    0%   { -moz-transform: translateY(100%); }
    100% { -moz-transform: translateY(-100%); }
}
@-webkit-keyframes scroll-up {
    0%   { -webkit-transform: translateY(100%); }
    100% { -webkit-transform: translateY(-100%); }
}
@keyframes scroll-up {
    0%   {
        -moz-transform: translateY(100%); /* Browser bug fix */
        -webkit-transform: translateY(100%); /* Browser bug fix */
        transform: translateY(100%);
    }
    100% {
        -moz-transform: translateY(-100%); /* Browser bug fix */
        -webkit-transform: translateY(-100%); /* Browser bug fix */
        transform: translateY(-100%);
    }
}

/****************ABOUT*********************/
#about {
    font-size: 18px;
}

