body {
    background-color: #710909;
}

#home, #about, #contact {
    margin-top: 10px;
    /*background-color: #cacbcc;*/
}

/*.myGrid {*/
    /*width: 500px;*/
    /*height: 250px;*/
/*}*/


#icons img {
    padding: 5px;
    border: solid 3px #fafafa;
    border-radius: 7px;
    margin: 10px;
}

#equalBox {
    height: 40px;
    width: 40px;
    color: black;
}

#equalSign {
    height: 15px;
    width: 40px;
    color: white;
    border-radius:5px;
}
