<div ng-include="'/assets/views/templates/header.html'"></div>
<div ng-include="'/assets/views/templates/nav.html'"></div>
<div id="about" class="col-md-8 col-md-offset-2 text-justify">
    <h1>About Free Speech Karaoke </h1>
        <p><strong>“Free Speech Karaoke” is an interactive public art project that invites participants to stand upon a soapbox and recite-a-long famous American speeches.</strong>
            Coinciding with the 2016 presidential election, “Free Speech Karaoke” uses speeches delivered by past presidents and perform them at popular campaign stops across the USA. Participants will have the opportunity to select a speech and as with karaoke the lyrics will be projected on a screen so that the performer and audience can follow along.
            “Free Speech Karaoke” provides a fun and interactive space for everyday people to step into the role of past presidents, command their leadership and infuse new meaning into the words of American history.
            <strong>This project raises the questions: how does the meaning of a speech change with its’ speaker? And how do these words of the past resonate in this political moment?</strong></p>
    <h2>About the Artist</h2>
    <p>I am a writer, performing artist and producer with my roots in New York City and am happy to call Minneapolis, Minnesota my home.
        Since 2001, I have been creating original plays and solo performances that focus on identity, family and intergenerational relationships from a queer point of view.
        Much of my work uses historical texts as an entry point to examine identity and how individuals are shaped by history. My work teeters on the edge between theater and performance art experimenting with form, site location and audience engagement.
        I have performed in traditional theaters, galleries, basement clubs and built site-specific installations, always taking into account my environment as a theatrical device.
        In January 2014, my play “She Is King,” which reenacts interviews with Billie Jean King, premiered at the Incubator Arts Project in NYC and toured to Portland, Oregon in Spring 2015.
        In addition to the shows, I conducted three community workshops based on themes of the show at a high school, an after-school program and a shelter for homeless youth, and I held talk-backs with local women leaders after each performance.
        I am continually looking for ways to connect with new audiences and place my work within a larger context.
        <p>Please visit my website:
            <a href="http://laryssahusiak.com/">laryssahusiak.com</a>
        </p>
</p>
    </div>
