<div class="container col-sm-12 text-center" id="deliver" >
    <div id="fb-root"></div>
    <div ng-show="IsVisible" class="row">
        <div class="deliver col-md-8 col-md-offset-2 text-center">
            <ul class="nav nav-pills nav-justified">
                <li><a href="#home">HOME</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#library">LIBRARY</a></li>
                <li><a href="#contact">CONTACT</a></li>
                <li><a href="/logout">LOGOUT</a></li>
            </ul>

        </div>

    </div>
    <h1 ng-show="!IsVisible">Are you ready?</h1>
        <!--<button ng-show="!IsVisible" class="btn btn-lg text-center" ng-click="IsVisible=!IsVisible">KARAOKE</button>-->
    <button class="give-speech" ng-show="!IsVisible" ng-click="IsVisible=!IsVisible">
        <!--<img ng-show="!IsVisible" ng-click="IsVisible=!IsVisible" class="img-responsive" src="/assets/styles/images/giveSpeech.png"/>-->
    </button>

    <div class= "scroll-up" ng-show="IsVisible">
        <img ng-src="{{karaokeObject.image}}"/>

            <h1>{{karaokeObject.speechText}}</h1>

            <br>
            <br>
        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>

        <!--<div class="row">-->
                    <!--<div class="deliver col-md-8 col-md-offset-2 text-center">-->
                        <!--<ul class="nav nav-pills nav-justified">-->
                            <!--<li><a href="#home">HOME</a></li>-->
                            <!--<li><a href="#about">ABOUT</a></li>-->
                            <!--<li><a href="#library">LIBRARY</a></li>-->
                            <!--<li><a href="#contact">CONTACT</a></li>-->
                            <!--<li><a href="/logout">LOGOUT</a></li>-->
                        <!--</ul>-->
                           <!-- -->
                <!--</div>-->

            <!--</div>-->

</div>

</div>

<!--<div ng-if="bool" class="fade" ng-show="IsVisible">-->
<!--<div ng-if="bool" class="fade">-->
    <!--Fade me in out-->
<!--</div>-->
<!--<button ng-click="bool=true">Fade In!</button>-->
<!--<button ng-click="bool=false">Fade Out!</button>-->



<!--ng-repeat="speech in speechArray"-->
<!--<h2>{{speech.text}}</h2>-->