<div id= "home" class="col-md-8 col-md-offset-2 text-center">
    <div id="banner">
    <img src="/assets/styles/images/banner.png" height="400" width="550"/>
</div>
    </div>
<div id="icons" class="col-md-8 col-md-offset-2 text-center">
    <a href="#library"><img src="/assets/styles/images/selectSpeech.png" height="250" width="250" alt="Select a Speech" ></a>
    <span class="glyphicon glyphicon-plus" id="plus" aria-hidden="true"></span>
    <img src="/assets/styles/images/pickBackdrop.png" height="250" width="250" alt="Pick a Backdrop"/>
    <span id="equals">=</span>
    <img src="/assets/styles/images/giveSpeech.png" height="250" width="250" alt="Give your Speech"/>

</div>